.header {
  display: flex;
  background-color: rgb(83, 83, 255);
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header p {
  color: white;
  margin-left: 25px;
  font-size: 20px;
}
.login {
  background-color: orange;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 14px;
  margin: 10px 60px 10px 5px;
  color: white;
  cursor: pointer;
}
